/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

h1.bgcolor {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #148ba9;
  padding-top: 10px;
  padding-bottom: 10px; }

h2.emerald {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #148ba9;
  line-height: 1.2; }

p.home {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
  text-align: left; }

/* don't display the checkbox */
.full-chk {
  display: none; }

/* container object for the hamburger */
.full-cntr {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 8px;
  left: 10px;
  top: 10px;
  border: 2px solid #0f3b63;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px #444444;
  z-index: 300;
  cursor: pointer; }

@media screen and (max-width: 480px) {
  .full-cntr {
    width: 40px;
    height: 40px;
    left: 3px;
    top: 10px; } }

.full-chk:checked + .full-cntr {
  background-color: #009fab;
  border-color: #ffffff; }

@media (min-width: 550px) {
  .full-cntr {
    top: 8px; } }

/* spans are the cntr that turn from a hamburger to an x */
.full-span {
  position: absolute;
  left: 12px;
  margin-top: 13px;
  width: 34px;
  height: 3px;
  background-color: #0f3b63;
  z-index: 300;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  transition: background-color 0.3s ease-out 0s, opacity 0.3s ease-out 0.1s, -webkit-transform 0.2s ease-out 0s, width 0.2s ease-out 0s, left 0.2s ease-out 0s;
  transition: background-color 0.3s ease-out 0s, opacity 0.3s ease-out 0.1s, transform 0.2s ease-out 0s, width 0.2s ease-out 0s, left 0.2s ease-out 0s; }

@media screen and (max-width: 480px) {
  .full-span {
    position: absolute;
    left: 6px;
    margin-top: 5px;
    width: 24px;
    height: 3px; } }

.full-chk:checked + .full-cntr > .full-span {
  background-color: #ffffff;
  margin-left: 10px; }

@media screen and (max-width: 480px) {
  .full-chk:checked + .full-cntr > .full-span {
    margin-left: 0px; } }

.full-span:nth-child(1) {
  top: 4px; }

.full-chk:checked + .full-cntr > .full-span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 23px;
  left: 11px; }

.full-span:nth-child(2) {
  top: 12px; }

.full-chk:checked + .full-cntr > .full-span:nth-child(2) {
  opacity: 0;
  width: 30px;
  transition: opacity 0.1s ease-out 0s; }

.full-span:nth-child(3) {
  top: 20px; }

.full-chk:checked + .full-cntr > .full-span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 23px;
  left: 11px; }

/* style for a nav element, the full-screen menu  */
.full-nav {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #148caa;
  opacity: .95 !important;
  z-index: 99999;
  transition: opacity 0.3s ease-out 0s, z-index 0s ease-out 0.3s; }

.full-chk:checked ~ .full-nav {
  opacity: 1;
  z-index: 200;
  transition: opacity 0.3s ease-out 0s; }

/* unordered list inside nav element or .full-nav */
/* make position relative to help vertically align menu */
.full-nav-ul {
  position: relative;
  height: 100%;
  margin: 0px auto 0px auto;
  padding: 0px;
  list-style-type: none; }

/* for vertically aligning our menu */
.full-nav-cntr {
  position: absolute;
  top: 48%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%); }

/* give the mouse cursor a signal */
.full-nav-hltd {
  padding: 5px 10px 5px 10px; }

.full-nav-hltd:hover {
  background-color: #0f3b63;
  border-radius: 8px;
  text-decoration: none !important;
  padding: 10px 20px 10px 20px; }

/* undecorate links */
.full-nav-a, .full-nav-a:visited, .full-nav-a:active {
  text-decoration: none !important;
  color: #ffffff; }

/* link text inside .full-nav-li */
.full-nav-p {
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  text-align: center; }

@media (min-width: 700px) and (min-height: 450px) {
  .full-nav-p {
    font-size: 26px; } }

/* main  area */
.full-main {
  width: 100%;
  margin: 10px 0px 20px 0px;
  padding: 0px;
  background-color: #ffffff;
  z-index: 0; }

/* adjusted content area */
.full-content {
  width: 90%;
  max-width: 400px;
  margin: 30px auto 70px auto; }

@media (min-width: 600px) {
  .full-content {
    width: 80%;
    max-width: 450px;
    margin: 50px auto 70px auto; } }

.noshow {
  visibility: hidden; }

.big-banner {
  height: auto;
  max-width: 100%;
  position: fixed;
  width: 100%; }

.top-banner {
  background-image: url(/img/top-banner-mobile_small.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 119px;
  z-index: 9996; }

.hero {
  background-image: url(/img/hero_mobile_small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 240px;
  margin-top: -20px;
  z-index: 9995; }

.wave {
  width: 100%;
  height: auto;
  z-index: 9997;
  margin-top: 300px;
  position: relative; }

.content-marg {
  margin-top: -90px;
  z-index: 9998;
  position: relative;
  background-color: white; }

.back-white {
  background-color: white; }

.container {
  margin: 0;
  padding: 0; }

.container-fluid {
  margin: 0;
  padding: 0; }

.row {
  margin: 0;
  padding: 0; }

.col-lg-4 {
  margin: 0;
  padding: 0; }

.col-lg-2 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  background-color: white; }
