h1.bgcolor {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $whitefont;
  background-color: $fp-emerald;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 412px) and (max-width: 413px) {
  h1.bgcolor {
    margin-bottom: 30px;
  }
}

h2.emerald {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $fp-emerald;
  line-height: 1.2;
}

p.home {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
  text-align: left;
}

.intro2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $fp-emerald;
  line-height: 1.2;
}

.intro-p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;
}

.gold {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $fp-orange;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;
}

// glyphicon display and layout styles
.glyph-big {
  font-size: 4em;
  margin-left: -40px;
  top: 60px;
}

.heading-margin {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #148ba9;
  line-height: 1.2;
}

.get-started-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 60px;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  line-height: 1.2;
}

a.nowrap:visited {
  color: $light-visited;
}

a.nowrap {
  color: $accent-blue-bright;
}

.engagement-card-headline {
  font-family: 'Roboto', sans-serif;
  font-size: 2.1em;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  line-height: 1.2;
}

.card-p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: black;
  line-height: 1.2;
}

.contact-info {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  line-height: 1.2;
}
.details-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: $fp-emerald;
  line-height: 1.2;
}

.intro3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: $fp-emerald;
  line-height: 1.2;
}

.details-p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: black;
  line-height: 1.2;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.deep-red {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $fp-burgandy;
  line-height: 1.2;
}

.green {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $fp-green;
  line-height: 1.2;
}

.gold2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  color: $fp-orange;
  line-height: 1.2;
}

.why-p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: black;
  line-height: 1.2;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
