### General Apple things to ignore ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Files that might appear in the root of a volume ###
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Directories potentially created on remote AFP share ###
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Jekyll stuffs to ignore ###
## _site/ remove pound signs to ignore. removed so static site is available. ##
## _site/* remove pound signs to ignore. removed so static site is available. ##

.sass-cache/
.jekyll-cache/
.jekyll-metadata
.sass-cache/*
.jekyll-cache/*
.jekyll-metadata/*

### Ignore the Node "thingy" ###
node_modules
node_modules/
node_modules/*

### Ignore the Gulp "thingy" ###
package-lock.json

### Ignore full-size working adobe graphics documents for used images in site ###
adobe
adobe/
adobe/*

Gemfile.lock
