
.apply-pos {
  margin-top: -40px;
  margin-bottom: -20px;
  margin-left: -40px;
  overflow-y: hidden;
  width: 70%;
  z-index: 9994;
}

@media screen and (min-width: 375px) {
  .apply-pos {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .apply-pos {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .apply-pos {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .apply-pos {
    width: 60%;
  }
}

.no-scroll {
  overflow-y: hidden;
}
