
.phone {
  margin-left: -80px;
  margin-top: 40px;
  width: 30%;
}

@media screen and (min-width: 768px) {
  .phone {
    width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .phone {
    width: 8%;
  }
}

.questions-pos {
  margin-bottom: -40px;
  margin-top: -40px;
  width: 60%;
}

@media screen and (min-width: 768px) {
  .questions-pos {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .questions-pos {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .questions-pos {
    width: 22%;
  }
}
