
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="get-started-h1">Get started today</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 marg-bttm">
      <div class="engagement-card">
        <div class="engagement-card-content text-center"><a href="http://apply.kcc.edu" target="_blank" rel="noopener">
          <h3 class="engagement-card-headline">Apply for<br />admission</h3></a>
          <p>We’ll help you start<br />your journey</p>
          <div class="engagement-card-cta"><a href="http://apply.kcc.edu" target="_blank" rel="noopener"><button type="button" class="button btn btn-primary card-btn">Apply Now</button></a></div>
        </div>
        <div class="engagement-card-photo"><a href="http://apply.kcc.edu" target="_blank" rel="noopener"><img src="img/D51_8659.jpg" alt="Woman using a laptop computer"/></a></div>
      </div>
    </div>
    <br />
    <div class="col-lg-4">
      <div class="engagement-card">
        <div class="engagement-card-content text-center"><a href="#">
          <h3 class="engagement-card-headline">Schedule a <br />campus tour</h3></a>
          <p>Personalized, with <br />your own guide</p>
          <div class="engagement-card-cta"><a href="http://www.kcc.edu/future/start/Pages/vip.aspx" target="_blank" rel="noopener"><button type="button" class="button btn btn-primary card-btn">Visit KCC</button></a></div>
        </div>
        <div class="engagement-card-photo"><a href="http://www.kcc.edu/future/start/Pages/vip.aspx" target="_blank" rel="noopener"><img src="img/DSC_2659.jpg" alt="" /></a></div>
      </div>
    </div>
    <br />
    <div class="col-lg-4">
      <div class="engagement-card">
        <div class="engagement-card-content text-center"><a href="#">
          <h3 class="engagement-card-headline">Financial aid and scholarships</h3></a>
          <p>FAFSA opens Oct. 1<br />KCC Scholarships open Nov. 1</p>
          <div class="engagement-card-cta"><a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener"><button type="button" class="button btn btn-primary card-btn">Tell me more</button></a></div>
        </div>
        <div class="engagement-card-photo"><a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener"><img src="img/D41_7247.jpg" /></a></div>
        </div>
    </div>
    <br />
  </div>
</div>
