
<div class="footer-site-map">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6"><a href="http://www.kcc.edu" target="_blank" rel="noopener" class="footer-logo">Kankakee Community College</a>
      <p class="footer-text">100 College Drive Kankakee, IL 60901 &copy;&nbsp;2018&nbsp;<a class="nowrap" href="http://www.kcc.edu" target="_blank" rel="noopener">Kankakee Community College</a> <a class="nowrap" href="tel:815-802-8500">Ph: 815-802-8500</a> | <span class="footer-copyright-links"><a class="nowrap" href="http://www.kcc.edu/contact/Pages/contact-us.aspx" target="_blank" rel="noopener">Contact Us</a></span></p>
				   <div class="nav-icons-logos">
		           <ul class="nav-social">
		               <li><a href="http://www.facebook.com/pages/Kankakee-IL/Kankakee-Community-College/126145965854" target="_blank" rel="noopener">Facebook</a></li>
		               <li><a href="http://pinterest.com/kccedu/" target="_blank" rel="noopener">Pinterest</a></li>
		               <li><a href="http://twitter.com/KCCedu" target="_blank" rel="noopener">Twitter</a></li>
		               <li><a href="http://www.youtube.com/kankakeecommcollege" target="_blank" rel="noopener">Youtube</a></li>
		               <li><a href="http://www.linkedin.com/company/kankakee-community-college" target="_blank" rel="noopener">LinkedIn</a></li>
		               <li><a href="http://instagram.com/kccedu" target="_blank" rel="noopener">Instagram</a></li>
		               <li><a href="http://www.flickr.com/kccedu" target="_blank" rel="noopener">Flickr</a></li>
		               <li><a href="../_layouts/listfeed.aspx%3FList=%257B9FDB9DFE%252D0AA0%252D4EFC%252DB247%252D5086438B19BE%257D" target="_blank" rel="noopener">RSS</a></li>
		               <li><a href="http://itunes.apple.com/WebObjects/DZR.woa/wa/viewArtist?cc=us&id=421854028#" target="_blank" rel="noopener">ItunesU</a></li>
		           </ul>
		       </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
