<div class="col-lg-4 back-white more-z">
  <h2 class="text-center glyph"><a href="details.html"><span><img src="assets/img/placeholder.jpg" data-src="assets/img/more.png" alt="Circle icon that says &quot;More questions?&quot; with an arrow pointing to the right." class="info-pos more-pos"><span class="glyphicon glyphicon-info-sign glyph-big abso"></span></span></a></h2>
  <a href="details.html"><h2 class="intro2 text-center more-down">More Information</h2></a>
  <p class="intro-p">Find out more about the benefits of Fast Path at KCC.</p>
</div>
