<div class="site-nav">
  <input class="full-chk" id="full-menu" type="checkbox" />
  <label class="full-cntr" for="full-menu">
    <span class="full-span"></span>
    <span class="full-span"></span>
    <span class="full-span"></span>
  </label>
  <nav class="full-nav noshow">
    <h2 class="nav-h2">Site navigation</h2>
    <div class="full-nav-cntr">
      <ul class="full-nav-ul">
        <li>
            <a class="full-nav-a" href="https://apply.kcc.edu/Application.php?splash=FastPath" target="_blank" rel="noopener">
              <p class="menu-h2"><span class="full-nav-hltd">Apply now</span></p>
            </a>
        </li>
        <li>
            <a class="full-nav-a" href="http://fastpath.kcc.edu">
              <p class="menu-h2"><span class="full-nav-hltd">Fast Path</span></p>
            </a>
        </li>
        <li>
            <a class="full-nav-a" href="details.html">
              <p class="menu-h2"><span class="full-nav-hltd">More details</span></p>
            </a>
        </li>
        <li>
            <a class="full-nav-a" href="why-fastpath.html">
              <p class="menu-h2"><span class="full-nav-hltd">Why Fast Path?</span></p>
            </a>
        </li>
        <li>
            <a class="full-nav-a" href="http://www.kcc.edu/future/start/Pages/vip.aspx" target="_blank" rel="noopener">
              <p class="menu-h2"><span class="full-nav-hltd">Schedule a campus tour</span></p>
            </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
