<div class="col-lg-12 text-center pull-up back-white">
  <h2 class="text-center glyph"><span><img src="img/questions.png" alt="Circle icon that says, &quot;More questions?&quot; with an arrow" class="smaller-icon questions-pos"><img class="icon phone" src="img/contact.png" alt="Icon of a telephone receiver"></span></h2>
  <h2 class="contact-heading intro heading-margin">Contact Us</h2>
  <p class="contact-intro">If you have any additional questions, please&#160;contact&#160;us!</p>
</div>
<div class="row back-white">
  <div class="col-lg-3 back-white"></div>
  <div class="col-lg-3 left-pad back-white">
    <p class="contact-info"><strong>Riverfront Campus</strong><br />
            Jennifer Huggins<br />
            jhuggins@kcc.edu<br />
            815-802-8484</p>
            <br />
    <p>&#160;</p>
  </div>
  <div class="col-lg-3 left-pad back-white">
    <p class="contact-info"><strong>Miner South Extension&#160;Center</strong><br />
            Rexanne McKinley<br />
            rmckinley@kcc.edu<br />
            815-802-8708</p>
            <br />
    <p>&#160;</p>
  </div>
  <div class="col-lg-3 back-white"></div>
</div>
