@charset "UTF-8";

@import "0-tools/vars";
@import "0-tools/reset";
@import "0-tools/normalize";
@import "1-base/typography";
@import "2-global-components/navmenu";
@import "3-default-components/index-banners";
@import "3-default-components/wave";
@import "3-default-components/contentlayout";
@import "2-global-components/apply";
@import "2-global-components/more";
@import "2-global-components/questions";
@import "2-global-components/bottom-cards";
@import "2-global-components/footer";
@import "3-default-components/down";
@import "4-details-components/infographic";
@import "4-details-components/details-icons";
@import "4-details-components/down2";
@import "4-details-components/what";
@import "5-why-fastpath-components/youll-get";
@import "5-why-fastpath-components/headings";
@import "2-global-components/top-banner2";
@import "4-details-components/pull-up";
@import "5-why-fastpath-components/content-padding";
@import "5-why-fastpath-components/down3";

body {
  background-color: $bgcolor;
  width: 100%;
  overflow-x: hidden;
}

div {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

@import "2-global-components/overrides";
