.big-banner {
  height: auto;
  position: fixed;
  width: 100%;
  z-index: -1
}

.top-banner {
  background-image: url(/img/top-banner-mobile_small.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 119px;
  z-index: 9994;
}

@media screen and (min-width: 375px) and (max-width: 411px) {
  .top-banner {
    background-size: cover;
  }
}

@media screen and (min-width: 412px) and (max-width: 414px) {
  .top-banner {
    background-image: url(/img/top-banner-mobile.png);
    background-size: contain;
    height: 160px
  }
}

@media screen and (min-width: 415px) and (max-width: 480px) {
  .top-banner {
    background-image: url(/img/top-banner-mobile.png);
    background-size: contain;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .top-banner {
    background-image: url(/img/top-banner-tablet.png);
    background-size: contain;
    height: 320px;
  }
}

.hero {
  background-image: url(/img/hero_mobile_small.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 240px;
  margin-top: -20px;
  z-index: 9993;
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  .hero {
    background-size: cover;
    height: 270px;
  }
}

@media screen and (min-width: 375px) and (max-width: 411px) {
  .hero {
    background-image: url(/img/hero_mobile.jpg);
    background-size: cover;
    height: 280px;
  }
}

@media screen and (min-width: 412px) and (max-width: 413px) {
  .hero {
    background-image: url(/img/hero_mobile.jpg);
    background-size: cover;
    height: 310px;
  }
}

@media screen and (min-width: 414px) and (max-width: 480px) {
  .hero {
    background-image: url(/img/hero_mobile.jpg);
    background-size: contain;
    height: 310px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: url(/img/hero_tablet.jpg);
    background-size: cover;
    height: 560px;
    margin-top: -120px;
  }
}
