.wave {
  width: 100%;
  height: auto;
  z-index: 9994;
  margin-top: 300px;
  position: relative;
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  .wave {
    margin-top: 330px
  }
}

@media screen and (min-width: 375px) and (max-width: 411px) {
  .wave {
    margin-top: 340px
  }
}

@media screen and (min-width: 412px) and (max-width: 480px) {
  .wave {
    margin-top: 400px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .wave {
    margin-top: 670px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .wave {
    margin-top: 900px;
  }
}
