.nav-social {
  float: left;
  list-style-type: none;
  margin-left: -8px;
  padding-left: 0;
}

.nav-social li {
  float: left;
  height: 32px;
  margin-left: 5px;
  width: 32px;
}
.nav-social li:first-child {
  margin-left: 0;
}

.nav-social a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}

.nav-social a:hover {
	filter: drop-shadow(2px 2px 4px #FFFFFF);
	}

.nav-social a[href*='facebook'] {
  background: url(../img/facebook_64.png);
  background-size: cover;
}
.nav-social a[href*='pinterest'] {
  background: url("../img/pinterest_64.png");
  background-size: cover;
}
.nav-social a[href*='twitter'] {
  background: url("../img/twitter_64.png");
  background-size: cover;
}
.nav-social a[href*='youtube'] {
  background: url("../img/youtube_64.png");
  background-size: cover;
}
.nav-social a[href*='listfeed'] {
  background: url("../img/rss_64.png");
  background-size: cover;
}
.nav-social a[href*='flickr'] {
  background: url("../img/flickr_64.png");
  background-size: cover;
}
.nav-social a[href*='linkedin'] {
  background: url("../img/linkedin_64.png");
  background-size: cover;
}
.nav-social a[href*='instagram'] {
  background: url("../img/instagram_64.png");
  background-size: cover;
}
.nav-social a[href*='itunes'] {
  display: none;
}

.radio ul.radio-station-logos {
  float: left;
  margin-left: 20px;
}

.radio .nav-social {
  display: none;
}

.radio-station-logos {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radio-station-logos li {
  display: inline;
}

.radio-station-logos a {
  text-decoration: none;
}

.radio-station-logos img {
  border-width: 0;
  vertical-align: middle;
}

.legal {
  float: left;
  margin-left: 10px;
  width: 330px;
}

.nav-icons-logos a[href='http://www.nsf.gov/ate'] {
  display: none;
}

.global-footer {
  margin-top: 50px;
  background-color: $primary-blue;
}

.footer-logo {
  position: relative;
  left: -24px;
  display: block;
  height: 25px;
  width: 300px;
  margin: 10px 0 0 20px;
  background-image: url(../img/kankakee-community-college-word-logo.svg);
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
}

a.button:visited {
  color: $btn-visited;
}
