.what-pos {
  width: 60%;
}

@media screen and (min-width: 375px) {
  .what-pos {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .what-pos {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .what-pos {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .what-pos {
    width: 50%;
  }
}

@media screen and (max-height: 414px) and (max-width: 736px) {
  .what-pos {
	  width: 33%;
  }
}

@media screen and (max-height: 412px) and (max-width: 732px) {
  .what-pos {
	  width: 30%;
  }
}

@media screen and (max-height: 375px) and (max-width: 667px) {
  .what-pos {
	  width: 30%;
  }
}

@media screen and (max-height: 360px) and (max-width: 640px) {
  .what-pos {
	  width: 30%;
  }
}

@media screen and (max-height: 320px) and (max-width: 568px) {
  .what-pos {
    width: 34%
  }
}

.why-marg {
  margin-top: -30px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .why-marg {
    margin-top: 14px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1920px) {
  .why-marg {
    margin-top: 40px;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 2880px) {
  .why-marg {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
