@charset "UTF-8";

@import "0-tools/vars";
@import "0-tools/reset";
@import "0-tools/normalize";
@import "1-base/typography";
@import "2-components/navmenu";
@import "2-components/index-banners";
@import "2-components/wave";
@import "2-components/contentlayout";

body {
  background-color: $bgcolor;
  width: 100%;
  overflow-x: hidden;
}

* {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}
