.arrow2 {
	z-index: 46;
	position: absolute;
	left: 40%;
	margin-top: 280px;
	align-items: center;
  justify-content: center;
	width: 50px;
	height: 50px;
	background-color: transparent !important;
	display: none;
}

@media screen and (min-width: 360px) {
	.arrow2 {
		margin-top: 310px;
	}
}

@media screen and (min-width: 768px) {
	.arrow2 {
		margin-top: 420px;
		left: 44%;
		width: 75px;
		height: 75px;
	}
}

@media screen and (min-width: 1024px) {
	.arrow2 {
		margin-top: 460px;
		left: 45%;
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 1280px) {
	.arrow2 {
		margin-top: 590px;
	}
}

@media screen and (min-width: 1920px) {
	.arrow2 {
		margin-top: 720px;
		left: 46%;
		width: 120px;
		height: 120px;
	}
}

@media screen and (min-width: 1920px) {
	.arrow2 {
		margin-top: 780px;
	}
}
