.infographic {
  width: 80%;
  margin-bottom: 40px;
}

@media screen and (min-width: 412px) {
  .infographic {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .infographic {
    width: 60%;
    margin-top: -40px;
  }
}

@media screen and (min-width: 1024px) {
  .infographic {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .infographic {
    width: 28%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1920px) {
  .infographic {
    width: 23%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 2880px) {
  .infographic {
    width: 25%;
    margin-bottom: 0;
  }
}
