.what-pos {
  width: 60%;
}

@media screen and (min-width: 375px) {
  .what-pos {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .what-pos {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .what-pos {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .what-pos {
    width: 50%;
  }
}

.why-marg {
  margin-top: -30px;
  margin-bottom: 40px;
}
