<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="description" content="Earn a transfer degree in 2 years. Kankakee Community College's Fast Path program takes the guesswork out of college so you can focus on being successful." />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Kankakee Community College, KCC, juniors, high school, college, community college, Illinois schools, Illinois, Illinois community colleges" />

      <!-- Kankakee Community College - Fast Path page
            Kankakee Community College - Web Services
            Year: 2018
            Author: Wesley Zajicek
            Github Username: wdzajicek
            Github Profile: http://github.com/wdzajicek
      =================================================================== -->

      <!-- Below is a Comment: -->
      <!-- Below is a Link to favicon -->
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Google font link -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="assets/css/main.min.css">

      <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
      Twitter: https://dev.twitter.com/docs/cards/types/summary-card
      ============================== -->
     <meta property="og:title" content="Kankakee Community College Fast Path page"/>
     <meta property="og:site_name" content=" - KCC Fast Path"/>
     <meta property="og:url" content=" - http://www.kcc.edu"/>
     <meta property="og:description" content=""/>
     <meta property="og:image" content=""/>
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@http://twitter.com/KCCedu">
     <meta name="twitter:title" content="Kankakee Community College Fast Path page">
     <meta name="twitter:description" content="">
     <meta name="twitter:image" content="">

    <!-- Simpli.fi script link -->
    <script async src="https://i.simpli.fi/dpx.js?cid=123543&action=100&segment=kankakeefastpath&m=1&sifi_tuid=67541"></script>

  </head>
    <body>
      <!-- Hamburger navigation and full screen menu -->
      {% include navmenu.html %}
      <div class="container-fluid">
        <!-- Top banner and hero banner -->
        {% include top-banner.html %}

        <section>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center">
              {{ content }}
            </div>
            <div class="col-lg-3"></div>
          </div>
        </section>
        <br>
        <br>
        <section class="card-set">
          {% include bottom-cards.html %}
        </section>

        <footer class="global-footer text-center" role="contentinfo">
          {% include footer.html %}
        </footer>

    </div>

        <!-- Footer Scripts
        =============================================================== -->

        <!-- Anything but the bloated Jquery! -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Custom Javascript/Jquery to resolve menu visibility when closed and visibility on browser back-button reload.
        =============================================================== -->
        <script>
          $(document).ready(function(){
            //reset checkboxes on page load
            $('input:checkbox').prop('checked', false);
            //arrow slide down animation on page load
       	    $(".arrow2").delay("fast").slideDown(1000);
            //disable hidden visibility of full page navigation overlay with menu button click
            $('label.full-cntr').click( function(e) {
              $('.full-nav').toggleClass("noshow");
            });
            function goBack() {
              window.history.back();
            }
          });
        </script>
        <!-- Lazy loading image JavaScript -->
        <script src="assets/js/script.js"></script>
        <!-- Google Analytics -->
        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-4328282-18', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
