<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="description" content="Earn a transfer degree in 2 years. Kankakee Community College's Fast Path program takes the guesswork out of college so you can focus on being successful." />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Kankakee Community College, KCC, juniors, high school, college, community college, Illinois schools, Illinois, Illinois community colleges" />

      <!-- Kankakee Community College - Fast Path page
            Kankakee Community College - Web Services
            Year: 2018
            Author: Wesley Zajicek
            Github Username: wdzajicek
            Github Profile: http://github.com/wdzajicek
      =================================================================== -->

      <!-- Below is a Comment: -->
      <!-- Below is a Link to favicon -->
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Google font link -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="assets/css/main.min.css">

      <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
      Twitter: https://dev.twitter.com/docs/cards/types/summary-card
      ============================== -->
     <meta property="og:title" content="Kankakee Community College Fast Path page"/>
     <meta property="og:site_name" content=" - KCC Fast Path"/>
     <meta property="og:url" content=" - http://www.kcc.edu"/>
     <meta property="og:description" content=""/>
     <meta property="og:image" content=""/>
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@http://twitter.com/KCCedu">
     <meta name="twitter:title" content="Kankakee Community College Fast Path page">
     <meta name="twitter:description" content="">
     <meta name="twitter:image" content="">

    <!-- Simpli.fi script link -->
    <script async src="https://i.simpli.fi/dpx.js?cid=123543&action=100&segment=kankakeefastpath&m=1&sifi_tuid=67541"></script>

  </head>
    <body>
      <h1 class="site-h1">Fast Path - More Details</h1>
      <!-- Hamburger navigation and full screen menu -->
      {% include navmenu.html %}
      <div class="container-fluid">
        <!-- Top banner and hero banner -->
        {% include top-banner.html %}

        <!-- Down arrow section -->
        <div class="down">
          {% include down-arrow2.svg %}
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            {{ content }}
          </div>
          <div class="col-lg-12 text-center">
            <img src="assets/img/infographic.png" class="infographic text-center" alt="Infographic that shows icons for Affordable, Convenient, and Supportive arranged in a triangular relation to one-another.">
          </div>
        </div>
        <div class="row pull-up">
          <div class="col-lg-6 text-center">
            <img src="assets/img/transfer.png" alt="Icon that says, &quot;Transfer? Yes!&quot;" class="smaller-icon2">
            <h3 class="intro3">After 2 years and 64 credits in Fast Path,</h3>
            <p class="details-p">you’ll complete an Associate in Arts transfer degree. This degree is accepted (and guaranteed!) at 24 Illinois colleges, including all state universities. Many out-of-state colleges/universities also accept it. This means you’ll start as a junior and will have completed gen-ed requirements. The Associate in Arts is ideal for students pursuing a Bachelor of Arts, which includes areas such as communications, psychology, social work, education, history and English. If you plan to enter a more science or technology-based area, please check before enrollment to make sure this is the right program for you.</p>
          </div>
          <div class="col-lg-6 text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/who.png" alt="Icon with the text, &quot;Who can enroll?&quot;" class="smaller-icon2">
            <p class="details-p">Because the program includes every class for the degree, we are gearing it to students who have never taken a college class before, but everyone is encouraged to apply. There are some testing requirements to be ready for college.
            <a href="http://www.kcc.edu/students/helpful/testingservices/Pages/placementtesting.aspx" target="_blank" rel="noopener">The KCC testing requirements web page has more details</a>.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/pricing.png" alt="Icon of dollar bills" class="tight-marg">
            <h2 class="intro2">Pricing</h2>
            <p class="details-p">Current tuition and fees are about $9,400 for the two-year program. Text books are extra, but a laptop computer is provided. <a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener">Financial aid, scholarships and payment plans are available</a>.</p>
          </div>
          <div class="col-lg-4 text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/more-benefits.png" alt="Icon of an arrow in a bullseye." class="tight-marg">
            <h2 class="intro2">More benefits</h2>
            <p class="details-p">Utilize KCC’s resources and get involved just like other students: lounge areas, café with Starbucks coffee and drinks, a great library, free wi-fi, fitness center, sports teams, clubs and events.</p>
          </div>
          <div class="col-lg-4 text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/sample-courses.png" alt="Icon of an apple." class="tight-marg">
            <h2 class="intro2">Sample courses</h2>
            <p class="details-p">Fast Path includes the most popular courses for Associate in Arts students, such as Introduction to Psychology, Environmental Biology, Art Appreciation and American Government. The first few classes are English I, English II and Introductory Speech.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/english.png" alt="Icon of the Letter A." class="tight-marg">
            <h2 class="intro2">What if I don’t test into English I?</h2>
            <p class="details-p">Depending on your test scores, you may be able to take Fundamentals of Writing the summer before you begin the program. Talk with your advisor about options.</p>
          </div>
          <div class="col-lg-4  text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/statistics.png" alt="Icon of a bar graph with a trend line." class="tight-marg">
            <h2 class="intro2">What if I don’t test into Statistics?</h2>
            <p class="details-p">You don’t test where you need to be you can practice and retest up to five times using KCC’s math testing system, ALEKS.</p>
          </div>
          <div class="col-lg-4 text-center">
            <img src="assets/img/placeholder.png" data-src="assets/img/laptop.png" alt="Icon of a laptop with settings-gears on the screen" class="tight-marg">
            <h2 class="intro2">Can I use my own laptop?</h2>
            <p class="details-p">A new laptop computer is provided, and will be loaded with the tools you need.</p>
          </div>
        </div>

        <section class="back-white">
        <!-- Calls to action with icon buttons -->
          <div class="row back-white">
            <div class="col-lg-2"></div>
            {% include apply.html %}
            {% include why-fp.html %}
            <div class="col-lg-2"></div>
          </div>
        </section>

        <section class="card-set">
          {% include bottom-cards.html %}
        </section>

        <footer class="global-footer text-center" role="contentinfo">
          {% include footer.html %}
        </footer>

    </div>

        <!-- Footer Scripts
        =============================================================== -->

        <!-- Anything but the bloated Jquery! -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Custom Javascript/Jquery to resolve menu visibility when closed and visibility on browser back-button reload. Animation of down arrows too.
        =============================================================== -->
        <script>
          $(document).ready(function(){
            //reset checkboxes on page load
            $('input:checkbox').prop('checked', false);
            //arrow slide down animation on page load
       	    $(".arrow2").delay("fast").slideDown(1000);
            //disable hidden visibility of full page navigation overlay with menu button click
            $('label.full-cntr').click( function(e) {
              $('.full-nav').toggleClass("noshow");
            });
          });
        </script>
        <!-- Lazy loading image JavaScript -->
        <script src="assets/js/script.js"></script>
        <!-- Google Analytics -->
        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-4328282-18', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
