<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="description" content="Earn a transfer degree in 2 years. Kankakee Community College's Fast Path program takes the guesswork out of college so you can focus on being successful." />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Kankakee Community College, KCC, juniors, high school, college, community college, Illinois schools, Illinois, Illinois community colleges" />

      <!-- Kankakee Community College - Fast Path page
            Kankakee Community College - Web Services
            Year: 2018
            Author: Wesley Zajicek
            Github Username: wdzajicek
            Github Profile: http://github.com/wdzajicek
      =================================================================== -->

      <!-- Below is a Comment: -->
      <!-- Below is a Link to favicon -->
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Google font link -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="assets/css/main.min.css">

      <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
      Twitter: https://dev.twitter.com/docs/cards/types/summary-card
      ============================== -->
     <meta property="og:title" content="Kankakee Community College Fast Path page"/>
     <meta property="og:site_name" content=" - KCC Fast Path"/>
     <meta property="og:url" content=" - http://www.kcc.edu"/>
     <meta property="og:description" content=""/>
     <meta property="og:image" content=""/>
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@http://twitter.com/KCCedu">
     <meta name="twitter:title" content="Kankakee Community College Fast Path page">
     <meta name="twitter:description" content="">
     <meta name="twitter:image" content="">

    <!-- Simpli.fi script link -->
    <script async src="https://i.simpli.fi/dpx.js?cid=123543&action=100&segment=kankakeefastpath&m=1&sifi_tuid=67541"></script>

  </head>
    <body>
      <h1 class="site-h1">Fast Path - What you'll get</h1>
      <!-- Hamburger navigation and full screen menu -->
      {% include navmenu.html %}
      <div class="container-fluid">
        <!-- Top banner and hero banner -->
        {% include top-banner.html %}

        <!-- Down arrow section -->
        <div class="down">
          {% include down-arrow3.svg %}
        </div>

        <div class="row top-pad-tablet">
          <div class="col-lg-2"></div>
          <div class="col-lg-4 text-center">
            <img src="assets/img/what-youll-get_arrow-diagonal.png" alt="What you'll get..." class="youll-get">
          </div>
          <div class="col-lg-4 text-center">
            <img src="assets/img/youll-get-photo.jpg" alt="Girl smiling at a desk in class" class="you-get-icon">
          </div>
          <div class="col-lg-2"></div>
        </div>


        <div class="row">
          <div class="col-lg-12 content-pad">
            <h2 class="intro4 half-border">A predictable schedule you can actually plan your life around</h2>
            <p class="why-p">All Fast Path classes will be held at the same time on the same days of the week throughout the length of the program. So whether it’s work or family obligations, or just being able to plan ahead, you’ll always have a schedule you can depend on.</p>
            <h2 class="intro4 deep-red half-border">A fully mapped program guaranteed to transfer</h2>
            <p class="why-p">One of the biggest challenges students often face is finding the right classes at the right time that they know will transfer. Fast Path takes the guesswork out of creating a schedule that will work. You’ll know on day one exactly what classes you’ll take, when, and where.</p>
            <h2 class="intro4 green half-border">A rigorous curriculum designed for today’s learner</h2>
            <p class="why-p">Research has shown that students learn best in programs that combine elements of both traditional and online instruction. With that in mind, Fast Path classes have been carefully designed to maximize student engagement and success through a blend of face to face and online activities and materials.</p>
            <h2 class="intro4 gold2 half-border">A concentrated learning&#160;experience</h2>
            <p class="why-p">Students in Fast Path take just two classes at a time for eight weeks. It sounds intense, but the truth is, this format allows you and your teacher to focus on the material at a pace that maximizes learning while eliminating distractions and busy work.</p>
            <h2 class="intro4 half-border">A support system you can rely&#160;on</h2>
            <p class="why-p">Students in Fast Path take classes as part of a cohort, meaning that you and your classmates will experience everything together as a team. Being part of such a learning community means you’ll always have classmates to turn to for help! In addition, all Fast Path students will have a faculty member who will act as a mentor, guide, and coach throughout their time in the program.</p>
          </div>
        </div>

        <section class="back-white">
        <!-- Calls to action with icon buttons -->
          <div class="row back-white">
            <div class="col-lg-4"></div>
            {% include apply.html %}
            <div class="col-lg-4"></div>
          </div>
          <div class="row">
            <div class="col-lg-12 spacer-col"></div>
          </div>
        </section>

        <section class="card-set">
          {% include bottom-cards.html %}
        </section>

        <footer class="global-footer text-center" role="contentinfo">
          {% include footer.html %}
        </footer>

    </div>

        <!-- Footer Scripts
        =============================================================== -->

        <!-- Anything but the bloated Jquery! -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Custom Javascript/Jquery to resolve menu visibility when closed and visibility on browser back-button reload. Animation of down arrows, too.
        =============================================================== -->
        <script>
          $(document).ready(function(){
            //reset checkboxes on page load
            $('input:checkbox').prop('checked', false);
            //arrow slide down animation on page load
       	    $(".arrow3").delay("fast").slideDown(1000);
            //disable hidden visibility of full page navigation overlay with menu button click
            $('label.full-cntr').click( function(e) {
              $('.full-nav').toggleClass("noshow");
            });
          });
        </script>
        <!-- Lazy loading image JavaScript -->
        <script src="assets/js/script.js"></script>
        <!-- Google Analytics -->
        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-4328282-18', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
