@media screen and (min-width: 1280px) {
  .content-pad {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .content-pad {
    padding-left: 100px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 2880px) {
  .content-pad {
    padding-left: 300px;
    padding-right: 480px;
  }
}

.spacer-col {
  height: 10px;
}


@media screen and (min-width: 768px) {
  .spacer-col {
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .spacer-col {
    height: 40px;
  }
}
