.half-border {
  border-left-style: solid;
  border-left-color: $hlf-border;
  border-left-width: medium;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-color: $hlf-border;
  border-bottom-width: medium;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .half-border {
    width: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .half-border {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .half-border {
    width: 40%;
  }
}

@media screen and (min-width: 2880px) {
  .half-border {
    width: 40%;
  }
}
