.big-banner {
  height: auto;
  position: fixed;
  width: 100%;
}

.top-banner {
  background-image: url(/img/top-banner-mobile_small.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 119px;
  z-index: 9994;
}

.hero {
  background-image: url(/img/hero_mobile_small.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 240px;
  margin-top: -20px;
  z-index: 9993;
}
