
.phone {
  margin-left: -80px;
  margin-top: -100px;
  width: 40%;
}

.questions-pos {
  margin-bottom: -40px;
  margin-top: -80px;
}

.contact-intro {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  line-height: 1.2;
}
